<div ng-controller="LeRater.iconpicker.controller">

    <div class="lerater-icons">
        <div class="lerater-icon-group">
            <i class="{{model.value.selectedIcon}} lerater-icon" style="color: {{model.value.onColor}}"></i>
            <input type="text" le-color-picker="model.value.onColor">
        </div>
        <div class="lerater-icon-group">
            <i class="{{model.value.selectedIcon}} lerater-icon" style="color: {{model.value.offColor}}"></i>
            <input type="text" le-color-picker="model.value.offColor">
        </div>
        <a class="lerater-icon-picker" href="" ng-click="chooseIcon()">Choose...</a>
    </div>

</div>
