.lerater-icons .lerater-icon-group {
    padding: 4px;
}

.lerater-icons .lerater-icon {
    font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.lerater-icons .lerater-icon-picker {
    display: inline-block;
    padding: 4px 12px;
}
